
.content-container{
   display:flex;
   justify-content:center;
   margin-top:57px;
}

.content{
    display:flex;
    justify-content:space-between;
    width:90vw;
    height:80vh;
    gap:1em;

}

.content-info {
    display:flex;
    flex-direction:column;
    justify-content:center;
   
    
}
.content-info h1 {
    margin-bottom:30px;
    width:100%;
    text-align:center;
}
.content p{
    font-size:18px;
    margin-bottom:30px;
    line-height:35px;
    width:50em;
    
}
.content-btn{
    
    display:flex;
    justify-content:center;
}
.content-btn button{
    background-color:#BC1F28;
    color:#FFFFFF;
    font-size:18px;
    border:none;
    padding:20px 40px;
    border-radius:8px;
    text-align:center;
    display:inline-block;
    transition-duration:0.5s;
    cursor:pointer;
}
.content-btn button:hover {
    background-color: #e04650;
    color:black;

}

.clipped-image {
   clip-path: ellipse(45% 40% at 45% 45%); 
   object-fit:cover;
   width:45%;
   height:auto;
   /* padding-left:70px; */

}

